@page
@model MyApp.Namespace.AboutModel
@{
}

<p>@Model.dbVersion.ToString()</p>
<p>Link to GitHub: <a href="https://github.com/CPSC-1517/take-home-exercises-may-2021-skske1432">https://github.com/CPSC-1517/take-home-exercises-may-2021-skske1432 </a></p>
