@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <img src="img/train-logo.png" alt="Logo">
    <h1 class="display-4" style="margin-bottom:40px">Train Watch</h1>
    <h1 style="margin-bottom:40px">Welcome</h1>
    <p style="margin-bottom:40px">Need to know what kind of trains are out there in North America? Check the latest and most up-to-date information regarding our current trains in the database!</p>
    <h1 style="margin-bottom:40px">What is Train Watch?</h1>
    <p>Train Watch is a community site for train lovers who want to keep up-to-date on trains across North America. They want to maintain a database of Engines and RailCars.</p>
</div>
